/* -- Universal styling -- */

.button {
  width: 100%;
  padding: 1rem 1.65rem 0.5rem 1.65rem;

  border: none;
  border-radius: 0.5rem;

  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.fontsize--small {
  font-size: 1.5rem;
  padding: 1.25rem 1.65rem 1.25rem 1.65rem;
}

/* -- Grey button -- */

.grey {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
}

.grey:hover {
  background-color: #fff;
  background-color: #fcfcfb;
}

.grey--click {
  background-color: #d2ccc6;
}

/* -- Blue button -- */

.blue {
  color: #fff;
  background-color: hsl(225, 21%, 49%);
}

.blue:hover {
  background-color: #919ab6;
  /* background-color: #596487; */
}

.blue--click {
  background-color: #596487;
}

/* -- Red button */

.red {
  color: #fff;
  background-color: hsl(6, 63%, 50%);
}

.red:hover {
  background-color: #d96558;
  /* background-color: #a83225; */
}

.red--click {
  background-color: #a83225;
}
