@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  min-height: calc(100vh - 0.01px);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(222, 26%, 31%);

  font-size: 3rem;
}
