/* -- Universal styling -- */

.button {
  width: 100%;
  padding: 0.5rem 1.25rem;

  border-radius: 0.5rem;

  font-family: 'League Spartan', sans-serif;
}

/* -- Grey button -- */

.grey {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
}

.grey:hover {
  background-color: #fcfcfb;
}

.grey--click {
  background-color: #d2ccc6;
}

/* -- Blue button -- */

.blue {
  color: #fff;
  background-color: hsl(225, 21%, 49%);
}

.blue:hover {
  /* background-color: #727ea1; */
  background-color: #596487;
}

.blue--click {
  background-color: #596487;
}

/* -- Red button */

.red {
  color: #fff;
  background-color: hsl(6, 63%, 50%);
}

.red:hover {
  /* background-color: #c85f54; */
  background-color: #a83225;
}

.red--click {
  background-color: #a83225;
}
