.button {
  width: 100%;
  padding: 0.5rem 1.25rem;

  border-radius: 0.5rem;

  font-family: 'League Spartan', sans-serif;
}

.grey {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
}

.blue {
  color: #fff;
  background-color: hsl(225, 21%, 49%);
}

.red {
  color: #fff;
  background-color: hsl(6, 63%, 50%);
}

/* --  */
